/* Importar fuente atractiva */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 80px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Rubik', cursive;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#searchInput {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-size: 1em;
    display: block;
    margin: 10px auto 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#character-list, #planet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.character-card, .planet-card {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 250px;
    margin: 15px;
    padding: 10px;
    position: relative;
}

/* Estilo para etiquetas en personajes y planetas */
.character-card p strong, .planet-card p strong {
    color: #FFD700;
    font-weight: bold;
}

/* Animación de vibración */
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Aplicar vibración a los personajes */
.character-card:hover {
    animation: vibrate 0.5s linear;
}

/* Aplicar vibración a los planetas */
.planet-card:hover {
    animation: vibrate 0.5s linear;
}

/* Efecto de zoom en la tarjeta al hacer clic */
.character-card.zoomed, .planet-card.zoomed {
    transform: scale(1.5); /* Ajusta el valor de escala según sea necesario */
    z-index: 10; /* Asegura que el elemento ampliado esté encima de los demás */
}

.character-card img, .planet-card img {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.character-card img {
    width: 150px;
}

.character-card h2 {
    font-size: 1em;
    margin: 10px 0;
}

.character-card p {
    font-size: 0.8em;
    margin: 5px 0;
}

.planet-card img {
    width: 100%;
    max-width: 250px;
}

.planet-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.planet-card p {
    font-size: 0.9em;
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
